.backlog {
  height: calc(100vh - 123px);
  padding: 0px;
  overflow: auto;
  margin-top: -1rem;
}
.thingItem {
  display: flex;
  box-sizing: 1px;
  padding: 1rem;
  border-bottom: 1px solid #4485A3;
  min-height: 3rem;
  align-items: center;
  justify-content: space-between;
}
.thingItem span:first-child {
  padding-right: 1.5rem;
}
.center {
  justify-content: center;
}
.addThing a {
  color: #fff;
}
.updateThing a {
  color: #4485A3;
}

.inicio{
  margin-top: 60px;
  align-content: center;
  align-items: center;
}

h1{
   justify-content: center !important;
}

.btnsuccess{
   background-color: #4485A3;
   border-radius: 100px !important;
   color: white;
   font-weight: normal;
}
